In [12]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import sklearn as sk

# Use this instead
df = pd.read_csv('./neural-network/The FINAL Dataset.csv')

from sklearn import linear_model

df =  df.dropna()

df['2019 raw GDP'] = df['2019 raw GDP'].astype('float64')
df['percent change 2020'] = df['percent change 2020'].astype('float64')
df['cases'] = df['cases'].astype('int32')
df['deaths'] = df['deaths'].astype('int32')

In [13]:
# One hot encoding for the state names
encoded_state_names = pd.get_dummies(df['state'])
df = df.drop(columns=['state'])\
                        .join(encoded_state_names)\
                        .dropna(axis='index', how='any')
display(df)

,county,cases,deaths,2020 population,2019 raw GDP,percent change 2020,Alabama,Arizona,Arkansas,California,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,Autauga,4190,48,58877.0,1540762.0,-1.3,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Baldwin,13601,161,233140.0,7134734.0,-2.1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Barbour,1514,32,25180.0,729105.0,-5.8,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Bibb,1834,46,22223.0,380453.0,2.1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Blount,4641,63,59081.0,932215.0,-5.4,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3240,Sweetwater,2966,16,42158.0,3677972.0,-10.9,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3241,Teton,2138,4,23347.0,2268742.0,-4.1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3242,Uinta,1558,7,20441.0,881052.0,-10.3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3243,Washakie,780,19,7658.0,349686.0,-3.7,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3244,Weston,476,2,6809.0,322576.0,-3.1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [16]:


from sklearn.preprocessing import MinMaxScaler
  
object= MinMaxScaler()
  
df['cases'] = object.fit_transform(df['cases'].values.reshape(-1, 1)) 
df['deaths'] = object.fit_transform(df['deaths'].values.reshape(-1, 1)) 
df['2020 population'] = object.fit_transform(df['2020 population'].values.reshape(-1, 1))
df['2019 raw GDP'] = object.fit_transform(df['2019 raw GDP'].values.reshape(-1, 1)) 
df['percent change 2020'] = object.fit_transform(df['percent change 2020'].values.reshape(-1, 1)) 

X = df.copy().drop(columns = ['percent change 2020', 'county'])
y = df['percent change 2020']
display(df)

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = sk.model_selection.train_test_split(X, y, test_size=0.2, random_state= 25)


regr = linear_model.LinearRegression()
regr.fit(x_train, y_train)

print(regr.coef_)


predictions = regr.predict(x_test)

from sklearn.metrics import classification_report
#print(classification_report(y_test, predictions))

from sklearn.metrics import mean_squared_error
print("Mean Squared Error: %.7f" % mean_squared_error(y_test, predictions))

from sklearn.metrics import r2_score
r2_score(y_test, predictions)

,county,cases,deaths,2020 population,2019 raw GDP,percent change 2020,Alabama,Arizona,Arkansas,California,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,Autauga,0.005425,0.004640,0.005855,0.002164,0.231388,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Baldwin,0.017632,0.015563,0.023301,0.010113,0.223340,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Barbour,0.001954,0.003093,0.002481,0.001011,0.186117,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Bibb,0.002369,0.004447,0.002185,0.000516,0.265594,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Blount,0.006010,0.006090,0.005875,0.001300,0.190141,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3240,Sweetwater,0.003837,0.001547,0.004181,0.005201,0.134809,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3241,Teton,0.002763,0.000387,0.002298,0.003199,0.203219,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3242,Uinta,0.002011,0.000677,0.002007,0.001227,0.140845,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3243,Washakie,0.001001,0.001837,0.000727,0.000472,0.207243,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3244,Weston,0.000607,0.000193,0.000642,0.000434,0.213280,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

[ 7.53503916e-02  4.07743099e-02 -5.22665362e-01  2.92098349e-01
  9.73607945e+11  9.73607945e+11  9.73607945e+11  9.73607945e+11
  9.73607945e+11  9.73607945e+11  9.73607945e+11  9.73607945e+11
  9.73607945e+11  9.73607945e+11  9.73607945e+11  9.73607945e+11
  9.73607945e+11  9.73607945e+11  9.73607945e+11  9.73607945e+11
  9.73607945e+11  9.73607945e+11  9.73607945e+11  9.73607945e+11
  9.73607945e+11  9.73607945e+11  9.73607945e+11  9.73607945e+11
  9.73607945e+11  9.73607945e+11  9.73607945e+11  9.73607945e+11
  9.73607945e+11  9.73607945e+11  9.73607945e+11  9.73607945e+11
  9.73607945e+11  9.73607945e+11  9.73607945e+11  9.73607945e+11
  9.73607945e+11  9.73607945e+11  9.73607945e+11  9.73607945e+11
  9.73607945e+11  9.73607945e+11  9.73607945e+11  9.73607945e+11
  9.73607945e+11  9.73607945e+11  9.73607945e+11  9.73607945e+11
  9.73607945e+11]
Mean Squared Error: 0.0046411

0.12644936206271196