In [1]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
enc = OneHotEncoder(sparse=False)

df = pd.read_csv('complete.csv')

In [4]:
encoding = pd.DataFrame(enc.fit_transform(df[['state']]))
result = pd.concat([df, encoding], axis=1, join='inner')
result.to_csv('complete.csv', index=False)

,county,state,cases,deaths,2020,0,1,2,3,4,...,45,46,47,48,49,50,51,52,53,54
0,Autauga,Alabama,4190,48.0,58877.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Baldwin,Alabama,13601,161.0,233140.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Barbour,Alabama,1514,32.0,25180.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Bibb,Alabama,1834,46.0,22223.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Blount,Alabama,4641,63.0,59081.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3240,Sweetwater,Wyoming,2966,16.0,42158.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3241,Teton,Wyoming,2138,4.0,23347.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3242,Uinta,Wyoming,1558,7.0,20441.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3243,Washakie,Wyoming,780,19.0,7658.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3244,Weston,Wyoming,476,2.0,6809.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [12]:
result = result.dropna()
len(result)
result.to_csv("complete.csv", index = False)